---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "gotosocial.fullname" $ }}
  labels:
    {{- include "gotosocial.labels" $ | nindent 4 }}
data:
  TZ: {{ $.Values.timezone | quote }}
  GTS_HOST: {{ $.Values.host | quote }}
  GTS_DB_TYPE: {{ $.Values.db.type | quote }}
  GTS_LOG_LEVEL: {{ $.Values.log.level | quote }}
  GTS_LOG_FORMAT: {{ $.Values.log.format | quote }}
  GTS_LOG_DB_QUERIES: {{ $.Values.log.dbQueries | quote }}
  GTS_LOG_CLIENT_IP: {{ $.Values.log.clientIP | quote }}
  GTS_LOG_TIMESTAMP_FORMAT: {{ $.Values.log.timestampFormat | quote }}
  GTS_APPLICATION_NAME: {{ $.Values.applicationName | quote }}
  GTS_LANDING_PAGE_USER: {{ $.Values.landingPageUser | quote }}
  GTS_ACCOUNT_DOMAIN: {{ $.Values.accountDomain | quote }}
  GTS_WAZERO_COMPILATION_CACHE: /gotosocial/.cache
  # setting these statically since they don't really make sense in a k8s/docker context
  GTS_BIND_ADDRESS: "0.0.0.0"
  GTS_PORT: "8080"
  GTS_PROTOCOL: "https"
# ingress stuff
{{- if $.Values.ingress.enabled }}
# we don't know where the ingress will "live" so we have to trust everyone
# but since k8s makes sure that requests only enter the cluster through the ingress
# this shouldn't be a problem
  GTS_TRUSTED_PROXIES: 0.0.0.0/0
  GTS_LETSENCRYPT_ENABLED: "false"
{{- else if $.Values.tls.enabled -}}
  GTS_LETSENCRYPT_ENABLED: {{ $.Values.tls.enabled | quote }}
  GTS_LETSENCRYPT_EMAIL_ADDRESS: {{ $.Values.tls.email | quote }}
{{- end }}
{{- range $key, $value := $.Values.env }}
  {{ $key | quote }}: {{ $value | quote }}
{{- end -}}
