---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "gotosocial.fullname" $ }}
  labels:
    {{- include "gotosocial.labels" $ | nindent 4 }}
type: Opaque
data:
  GTS_DB_ADDRESS: {{ $.Values.db.address | b64enc | quote }}
  {{- if eq $.Values.db.type "postgres" }}
  GTS_DB_DATABASE: {{ $.Values.db.database | b64enc | quote }}
  GTS_DB_PASSWORD: {{ $.Values.db.password | b64enc | quote }}
  GTS_DB_USER: {{ $.Values.db.user | b64enc | quote }}
  {{- end }}
  {{- with $.Values.secrets }}
  {{- range $k, $v := . }}
  {{ $k }}: {{ $v | b64enc | quote }}
  {{- end }}
  {{- end }}
