---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "gotosocial.fullname" $ }}
  labels:
    {{- include "gotosocial.labels" $ | nindent 4 }}
type: Opaque
data:
  GTS_DB_ADDRESS: {{ $.Values.db.address | b64enc | quote }}
  {{- with $.Values.secrets }}
  {{- range $k, $v := . }}
  {{ $k }}: {{ $v | b64enc | quote }}
  {{- end }}
  {{- end }}
